[milter]
# The socket used to communicate with sendmail
socketname = /var/run/milter/dkimmiltersock
# Name of the milter given to sendmail
name = pydkimfilter
# Mail from internal networks is DKIM signed.
# NOTE: SMTP AUTH connections are also considered internal.
internal_connect = 127.0.0.1,192.168.0.0/16,10.0.0.0/8
datadir = /var/log/milter

[dkim]
privkey = /etc/mail/dkim_rsa
selector = default
# Domain for DKIM signature
domain = example.com

[loggers]
keys=root,dkim-milter

[handlers]
keys=syslogHandler,fileHandler

[formatters]
keys=milterFormatter

[logger_root]
level=DEBUG
handlers=syslogHandler

[logger_dkim-milter]
level=INFO
;handlers=syslogHandler
handlers=fileHandler
qualname=dkim-milter
propagate=0

[handler_syslogHandler]
class=handlers.SysLogHandler
level=INFO
formatter=milterFormatter
args=(('localhost', handlers.SYSLOG_UDP_PORT), handlers.SysLogHandler.LOG_MAIL)

[handler_fileHandler]
class=FileHandler
level=DEBUG
formatter=milterFormatter
args=('/var/log/milter/dkim-milter.log', 'a')

[formatter_milterFormatter]
format=%(asctime)s %(message)s
datefmt=%Y%b%d %H:%M:%S
