include COPYING
include TODO
include CREDITS
include ChangeLog
include MANIFEST.in
include testbms.py
include test.py
include spfmilter.py
include bms.py
include ban2zone.py
include setup.py
include test/*
include doc/*
include *.spec
include *.cfg
include *.txt
include *.m4
include *.rc
